<div class="input-form">
		<%= form_for [user, plan, workout], class: 'form-inline' do |f| %>
		<div class = "row">
			<div class="col-md-2"> <%= f.label :date %> </div>
			<div class="col-md-5">
			<%= f.datetime_select :date, class: 'form-control'%> <br> <br>
			</div>
		</div>

		<div class = "row">
			<div class="col-md-2"> <%= f.label :activity %> </div>
			<div class="col-md-5">
		<%= f.select(:activity, plan.activities.split(','), class: 'form-control') %> <br>
		</div>
		</div>

		<div class = "row">
			<div class="col-md-2"> <%= f.label "Duration (hh:mm:ss)" %> </div>
			<div class="col-md-2">
			<%= number_field :duration, :hours, min: 0, placeholder: "#{workout.duration_pretty[0]}", class: 'form-control'%>
			</div>
			<div class="col-md-2">
				<%= number_field :duration, :mins, in: 0..59, placeholder: "#{workout.duration_pretty[1]}", class: 'form-control'%>
			</div>
			<div class="col-md-2">
				<%= number_field :duration, :secs, in: 0..59, placeholder: "#{workout.duration_pretty[2]}", class: 'form-control'%><br>
			</div>
		</div>
	
		<div class = "row">
			<div class="col-md-2"> <%= f.label "Distance (miles)"%> </div>
			<div class="col-md-2">
				<%= f.number_field :distance, step: 0.1, min: 0, class: 'form-control' %> <br>
			</div>
		</div>
		<%= f.submit "Save", class: "btn btn-primary" %>
		
		<% end %>
</div>