<div class="input-form">
		<%= form_for [plan, workout] do |f| %>
		<%= f.label :date %>
		<%= f.datetime_select :date,class: 'form-control'%> <br> <br>
		<%= f.label :activity %>
		<%= f.select(:activity, plan.activities.split(',')) %> <br>
		<%= f.label "Duration (hh:mm:ss)" %>
		<%= number_field :duration, :hours, min: 0  %> :
		<%= number_field :duration, :mins, in: 0..59%>:
		<%= number_field :duration, :secs, in: 0..59%><br>
		<%= f.label "Distance (miles)" %>
		<%= f.number_field :distance, step: 0.1, min: 0 %> <br>
		<%= f.submit "Save" %>
		<% end %>
</div>