<div class="col-md-12 text-center">
      <div class="well controls">
        <%= link_to plan_path({date: date - 1.month, id: params[:id]}), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-backward"></i>
        <% end %>
        <%= "#{date.strftime("%B")} #{date.year}" %>
        <%= link_to plan_path({date: date + 1.month, id: params[:id]}), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-forward"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= calendar date do |cal_date| %>
      <% if cal_date.class == Hash %>
        <% if cal_date.keys[0] == :plan %>
        <% if @planned_summaries[cal_date[:plan]] %>
            <% @planned_summaries[cal_date[:plan]].each do |summary| %>
              <p> <%= summary[0]%> - <%= summary[1] %></p>
            <% end %>
          <% end %>
        <% else %>
        <% if @actual_summaries[cal_date[:act]] %>
            <% @actual_summaries[cal_date[:act]].each do |summary| %>
              <p> <%= summary[0]%> - <%= summary[1] %></p>
            <% end %>
          <% end %>
      <% end %>
      <% else %>
      <% if (user_signed_in?) %>
      <%= link_to(cal_date.day,new_user_plan_workout_path({plan_id: params[:id], date: cal_date, user_id: current_user.id})) %>
      <% else %>
       cal_date.day
      <% end %>
      <% end %>
      <% if workouts[cal_date] %>
      <ul>
        <% workouts[cal_date].each do |workout| %>
        <% if workout.planned %>
        <li><%= "#{workout.activity}-#{workout.distance}"%> </li>
        <% else %>
        <li> <%= link_to("#{workout.activity}-#{workout.distance}", edit_plan_workout_path({plan_id: params[:id], id: workout.id})) %> </li>
        
        <% end %>
       <% end %>
      </ul>
      <% end %>
      <% end %>
    </div>