<div class="col-md-12 text-center">
      <div class="well controls">
        <%= link_to plan_path({date: date - 1.month, id: 1}), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-backward"></i>
        <% end %>
        <%= "#{date.strftime("%B")} #{date.year}" %>
        <%= link_to plan_path({date: date + 1.month, id: 1}), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-forward"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= calendar date do |cal_date| %>
      <% if cal_date.class == Hash %>
        <% if weekly_summaries[cal_date[:sum]] %>
      <p> Run - <%=weekly_summaries[cal_date[:sum]]['Run'] %></p>
        <% end %>
      <% else %>
      <%= link_to(cal_date.day,new_plan_workout_path({plan_id: params[:id], date: cal_date})) %>
      <% end %>
      <% if workouts[cal_date] %>
      <ul>
        <% workouts[cal_date].each do |workout| %>
        <li><%= workout.activity %> - <%= workout.distance %> </li>
       <% end %>
      </ul>
      <% end %>
      <% end %>
    </div>