<div class="container">
  <h1> Training Plan </h1>
  <div class="row">
  <div class="col-md-3">
       <a href="javascript:void(0)" id="show-hide-summary"> Hide Plan Details</a>
          <div class="plan-summary">
           <p> Race Date: <%=@plan.race_date.strftime("%e-%b-%Y") %> </p>
           <p> Race Distance (miles): <%= @plan.distance %> </p>
           <p> Target Time (mins): <%=@plan.target_time %> </p>  
           </div>
    </div>
        <div class="col-md-3">
    <a href="javascript:void(0)" id="show-hide-versions"> Show All Versions</a>
    <div class="plan-versions" hidden="true">
      <ul>
        <%@all_plans.each do |plan| %>
        <li> <%= link_to("#{plan.version}", plan_path(plan.id)) %> </li>
        <% end %>
      </ul>
    </div>
    </div>
    </div>
  <% if (user_signed_in?) %>
  <div class="row">
    <%if (@plan.active) %>
      <%= button_to "Update Plan!", user_plan_path({id: @plan.id, user_id: current_user.id}), method: :patch, class: "btn btn-primary"%>
    <% else %>
      <%= button_to "Make Active!", active_plan_path(@plan), class: "btn btn-primary" %>
    <% end %>
  </div>
<% else %>
<div class="alert alert-warning" role="alert">You need to sign in order to save your plan.</div>

  <p><%= link_to "Sign In", new_user_session_path({plan_id: @plan.id}) %> 
   </p>
   <p>New User?  <%=link_to "Sign Up", new_user_registration_path({plan_id: @plan.id})%> </p>
  <% end %>

  <h3> Score: <%=@plan.analyze %> </h3>
 
  <div class="row">
    <%= render partial:"calendar", locals: {date: @date, workouts: @workouts, weekly_summaries: @weekly_summaries} %>
  </div>
</div>